@use "../abstracts/media" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.skills {}
.skills__title {
	text-align: center;
	margin: $space-15 0;
	@include laptop {
		margin: $space-14 0;
	}
	@include tablet {
		margin: $space-12 0;
	}
	@include mobile {
		margin: $space-10 0;
	}
}
.skills__wrapper {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	column-gap: $space-10;
	row-gap: $space-18;
	@include laptop {
		row-gap: $space-16;
		grid-template-columns: repeat(4, 1fr);
	}
	@include tablet {
		grid-template-columns: repeat(3, 1fr);
		row-gap: $space-10;
	}
	@include mobile {
		gap: $space-5;
		grid-template-columns: repeat(2, 1fr);
	}
}
.skills__item {
	position: relative;
	overflow: hidden;
	border: 2px solid $color-dark;
	padding: $space-9 $space-6;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: $space-8;
	cursor: default;
	transition: all 0.3s ease;
	@include laptop {
		padding: $space-6 $space-4;
	}
	@include tablet {
		padding: $space-5 $space-3;
	}
	@include mobile {
		padding: $space-6;
	}
	&:hover .icon-figma{
			color: $color-light;
		} 
	&:hover .skills__item-icon {
			color: $color-light;
		}
	&:hover {
		background-color: $color-dark;
	}
	&:hover .skills__item-title {
		opacity: 0;
		transform: translateY(10px);
	}
	&:hover .skill__level{
			opacity: 1;
			transform: translateY(0);
			color: $color-light;
	}

		#icon-bg {
			color: $color-dark;
			transition: color 0.3s ease;
		}
		&:hover #icon-bg{
			color: $color-light;
		}
		#icon-text {
			color: $color-light;
			transition: color 0.3s ease;
		} 
		&:hover #icon-text{
			color: $color-dark;
		}
		.icon-figma {
			margin: 0 auto;
			width: 50px;
			height: 50px;
			color: $color-dark;
		}
}

.skill__level {
	position: absolute;	
	bottom: 20px;
	font-size: $fs-xl;
	font-weight: 700;
	opacity: 0;
	transform: translateY(-10px);
	transition: all 0.3s ease;
	@include laptop {
		font-size: $fs-lg;
	}
	@include tablet {
		font-size: $fs-md;
	}
	@include mobile {
		font-size: $fs-sm;
	}
}



.skills__item-icon {
		width: 56px;
		height: 56px;
}
.skills__item-title {
	font-size: $fs-md;
	font-weight: 700;
	letter-spacing: -2%;
	line-height: $lh-normal-sm;
}