@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

/* HEADER */ 

.header {
	background-color: $color-light;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;

	
	// margin: 0 0 $space-5 0;
	// @include laptop {
	// 	margin: $space-4 $space-3;
	// }
}
	
	.header__logo {
		display: flex;
		align-items: center;
		gap: 10px;
		img {
			width: 30px;
			height: 40px;
			@include laptop {
				width: 25px;
				height: 35px;
			}
		}
		a {
			font-size: $fs-md;
			font-weight: 700;
			color: $color-dark;
			@include laptop {
				font-size: $fs-sm;
			}
		}
	}