@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

/* HEADER */ 

.header {
	@include flex-between;
	padding: $space-5 $space-3;
	@include laptop {
		padding: $space-4 $space-3;
	}
}
	
	.header__logo {
		display: flex;
		align-items: center;
		gap: 10px;
		img {
			width: 30px;
			height: 40px;
			@include laptop {
				width: 25px;
				height: 35px;
			}
		}
		a {
			font-size: $fs-md;
			font-weight: 700;
			color: $color-dark;
			@include laptop {
				font-size: $fs-sm;
			}
		}
	}