$font-main: 'Sora', sans-serif;
$font-size-base: 16px;

$line-height-base: 1.5;

$color-text-dark: #000;
$color-text-netural: #404040;
$color-text-light: #fff;
$color-zinc100: #f4f4f5;
$color-zinc200: #e4e4e7;
$color-zinc300: #d4d4d8;
$color-zinc500: #71717a;
$color-zinc800: #27272a;
$color-error: #ef4444;

$fs-xs: 12px;
$fs-sm: 16px;
$fs-md: 20px;
$fs-lg: 24px;
$fs-xl: 28px;
$fs-2xl: 32px;
$fs-3xl: 36px;
$fs-4xl: 40px;

$lh-tight-sm: 1;
$lh-tight-md: 1.25;
$lh-normal-sm: 1.5;
$lh-normal-md: 1.75;
$lh-normal-lg: 2;
$lh-loose-sm: 2.5;
$lh-loose-md: 2.75;
$lh-loose-lg: 3;
$lh-loose-extr-lg: 3.5;